@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900; /* supports full weight range */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Serif";
  src: url("/src/assets/fonts/noto-serif/NotoSerif-VariableFont_wdth,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900; /* supports full weight range */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("/src/assets/fonts/source-code-pro/SourceCodePro-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900; /* supports full weight range */
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

html {
  font-family: var(--font, "Inter"), sans-serif;
  color: var(--color-neutral-950);
  background: var(--surface);
}

:root {
  --font-inter: "Inter", sans-serif;
  --font-noto-serif: "Noto Serif", serif;
  --font-source-code-pro: "Source Code Pro", monospace;
  --font: var(--font-inter);

  --color-neutral-950: hsl(222 32% 8%);
  --color-neutral-900: hsl(230 19% 12%);
  --color-neutral-800: hsl(231 16% 16%);
  --color-neutral-700: hsl(221 16% 20%);
  --color-neutral-600: hsl(222 11% 36%);
  --color-neutral-500: hsl(221 8% 48%);
  --color-neutral-400: hsl(220 11% 64%);
  --color-neutral-300: hsl(219 15% 82%);
  --color-neutral-200: hsl(216 19% 90%);
  --color-neutral-100: hsl(216 26% 96%);
  --color-neutral-50: hsl(216 33% 97%);
  --color-neutral-0: hsl(0 0% 100%);

  --surface: var(--color-neutral-0);
  --surface-selected: var(--color-neutral-100);
  --surface-border: var(--color-neutral-200);

  --color-blue-700: hsl(228 70% 48%);
  --color-blue-500: hsl(228 100% 60%);
  --color-blue-50: hsl(222 100% 96%);

  --color-green-500: hsl(148 71% 44%);
  --color-green-100: hsl(154 84% 90%);

  --color-red-500: hsl(355 96% 60%);
  --color-red-100: hsl(356 100% 92%);

  --accent: var(--color-blue-500);
  --accent-soft: var(--color-blue-50);
  --accent-text: white;

  --shadow-sm: 0 4px 6px 0 hsla(0, 0%, 94%, 60%);
  --shadow-lg: 0 8px 12px 0 hsla(0, 0%, 94%, 60%);
}

html[data-theme="dark"] {
  color: hsl(0 0% 100%);
  background: hsl(230 24% 11%);
  --color-neutral-950: hsl(0 0% 100%);
  --color-neutral-900: hsl(0 0% 96%);
  --color-neutral-800: hsl(0 0% 92%);
  --color-neutral-700: hsl(0 0% 82%);
  --color-neutral-600: hsl(0 0% 72%);
  --color-neutral-500: hsl(0 0% 64%);
  --color-neutral-400: hsl(0 0% 56%);
  --color-neutral-300: hsl(0 0% 45%);
  --color-neutral-200: hsl(0 0% 32%);
  --color-neutral-100: hsl(0 0% 20%);
  --color-neutral-50: hsl(0 0% 14%);
  --color-neutral-0: hsl(230 24% 11%);

  --surface: hsl(230 24% 11%);
  --surface-selected: hsl(230 22% 14%);
  --surface-border: hsl(230 24% 17%);
}

html[data-theme="system"] {
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  html[data-theme="system"] {
    --color-neutral-950: hsl(0 0% 100%);
    --color-neutral-900: hsl(0 0% 96%);
    --color-neutral-800: hsl(0 0% 92%);
    --color-neutral-700: hsl(0 0% 82%);
    --color-neutral-600: hsl(0 0% 72%);
    --color-neutral-500: hsl(0 0% 64%);
    --color-neutral-400: hsl(0 0% 56%);
    --color-neutral-300: hsl(0 0% 45%);
    --color-neutral-200: hsl(0 0% 32%);
    --color-neutral-100: hsl(0 0% 20%);
    --color-neutral-50: hsl(0 0% 14%);
    --color-neutral-0: hsl(230 24% 11%);

    --surface: hsl(230 24% 11%);
    --surface-selected: hsl(230 22% 14%);
    --surface-border: hsl(230 24% 17%);
  }
}

@media (prefers-color-scheme: light) {
  html[data-theme="system"] {
    --color-neutral-950: hsl(222 32% 8%);
    --color-neutral-900: hsl(230 19% 12%);
    --color-neutral-800: hsl(231 16% 16%);
    --color-neutral-700: hsl(221 16% 20%);
    --color-neutral-600: hsl(222 11% 36%);
    --color-neutral-500: hsl(221 8% 48%);
    --color-neutral-400: hsl(220 11% 64%);
    --color-neutral-300: hsl(219 15% 82%);
    --color-neutral-200: hsl(216 19% 90%);
    --color-neutral-100: hsl(216 26% 96%);
    --color-neutral-50: hsl(216 33% 97%);
    --color-neutral-0: hsl(0 0% 100%);

    --surface: var(--color-neutral-0);
    --surface-selected: var(--color-neutral-100);
    --surface-border: var(--color-neutral-200);
  }
}

.bg-surface {
  background-color: var(--surface) !important;
}

.bg-surface-selected {
  background-color: var(--surface-selected) !important;
}

.border-surface {
  border-color: var(--surface-border) !important;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

.bg-accent {
  background-color: var(--accent) !important;
}

.text-accent {
  color: var(--accent) !important;
}

.bg-accent-soft {
  background-color: var(--accent-soft) !important;
}

.border-accent {
  border-color: var(--accent) !important;
}
